<header>
  <img class="menu-img" [src]="imageSrc" alt="">
  <nav>
    <ul class="nav__links">
      <li><a routerLink="/">Home page</a></li>
      <li><a routerLink="/articles">Artykuły</a></li>

      <li class="auth-links"><a *ngIf="!isAuth" routerLink="/login">Zaloguj</a></li>
      <li class="auth-links"><a *ngIf="!isAuth" routerLink="/register">Rejestracja</a></li>
      <li class="auth-links"><a *ngIf="isAuth" (click)="logout()">Wyloguj</a></li>
    </ul>
  </nav>
  <h1>BLOG</h1>
</header>
