@font-face {
  font-family: 'Forum-Regular';
  src: url("~src/assets/fonts/Forum-Regular.ttf");
}

@font-face {
  font-family: 'Lato';
  src: url("~src/assets/fonts/Lato-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /*background: linear-gradient(180deg, #d5dfe966, transparent);*/
}

.menu-bar {
  width: 100%;
  background-color: #ffb156;
  height: 100px;
}

.container {
  width: 1400px;
  margin: 0 auto;
  flex: 1 1 auto;
}
