<h1>Strona główna</h1>
<h3>Do zrobienia</h3>
<ul>
  <li style="text-decoration: line-through">Sprawdzenie czy token jest ważny, jeśli nie to logout</li>
  <li>Dodanie komentarzy i ocen artykułów</li>
  <li>Paginacja</li>
  <li>Logowanie, poprawność danych</li>
  <li>Rejestracja</li>
  <li>maksimum size obrazka</li>
  <li>generowanie nazw dla obrazków</li>
  <li style="text-decoration: line-through">przejście do dodanego artykułu</li>
  <li>jedna ocena od użytkownika</li>
  <li>Pobierać komentarze w momencie wejścia w artykuł. Article - nie ma komentarzy, tylko pobiera liczbę z serwera</li>
</ul>
